.event-edit-popup
{
    width: 500px;
    border: 1px solid #cac0c0;
    background-color: white;

    opacity: 0.9;
    border-radius: 1%;

    z-index: 300;

    position: fixed !important;
    display: block;

    font-family: monospace;
    color: white !important;
}

.event-edit-popup:hover
{
    opacity: 0.96;
}

.event-edit-header
{
    background-color: #9ea6b4;
    height: 80px;
    border-radius: 0% 0% 0% 0%;
    padding: 10px;
    font-size: 100%;
}

.event-edit-contents {
    padding: 10px;
}

.send-event-form-data {
    border: none;
    border-radius: 10px;
    background-color: #dcdcdc;
    width: 50px;
    left: 10px;
    margin: 10px;
}

.send-event-form-data:hover {
     
}

.fa
{
    margin: 0px;
    color: white;
}

.custom-numeric-picker
{
    text-align: center;
    width: 20px;
    display: inline-block;
    margin: -3px;

  
}

.date-custom-input
{
    border: none;
    margin: 0 auto;
    background-color: transparent;
    display: inline;
    width: 20px; 
    text-align: center;
    margin: -15px;
    color: white;
}

.month-picker .date-custom-input
{
    width: 70px;
}

.event-edit-popup textarea:focus, .event-edit-popup  input:focus {
    outline: none;
    width: 20px;
}


.custom-room-dropdown
{
    background-color: transparent;
    border: none;

    position: absolute;
    left: 60%;
    top:10%;

    color: white;
}

.custom-delimiter
{
    display: inline-block;
    position: relative;
    top: -21px;
    margin: -5px;
}



.event-edit-header .fa-window-minimize
{
    opacity: 0.5;

    float: right;
}

.event-edit-header .fa-window-minimize:hover
{
    color: black;
    opacity: 1;
}

