.event-cancel-popup
{
    background-color: white !important;
    border: 1px solid #837f7f;
    opacity: 0.9;
    width: 400px;

    z-index: 300;

    position: fixed !important;
    display: block;
}

.event-cancel-popup:hover
{
    opacity: 1;
}

.event-cancel-header
{
    background-color: #9a90b6;
    color: white;
    padding: 5px;
}

.cancellation-controls
{
    margin: 0 auto; 
    width: 60%;
    height: 50px;
    padding: 10px;
}

.cancellation-controls input
{
    border-radius: 10%;
    width: 100px;
    height: 30px;
    background-color: #f6e9e9;
    border: none;
}

.cancellation-controls input:hover
{
    background-color: red;
}

.event-cancel-header .fa
{
    padding: 10px;
}