@model WebApplication1.Models.PersonalDataViewModel

@{
    ViewBag.Title = "Страница пользователя";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-lg-offset-9 col-lg-2">
    <button class="userPagebuttton"  onclick="DeleteUserPopupShow('1')">Удалить</button>
</div>

@Html.Partial("DeletePersonPopup",new WebApplication1.Models.Pair<System.Int32, System.String>
{
    item1 = 1,
    item2 = Model.Id
})

<div class="container">
    <div class="col-lg-4">
        <div id="pInfo">
            @Html.Partial("PersonalInfoPView")
        </div>
        <img id="load-icon" src="~/Images/loader.gif" alt="loading" />
    </div>
</div>
