@model WebApplication1.Models.PersonalDataViewModel

@{
    ViewBag.Title = "UserPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-lg-offset-9 col-lg-2">
    <button class="userPagebuttton"  onclick="DeleteUserPopupShow('1')">Удалить</button>
</div>

@Html.Partial("DeletePersonPopup", 1)

@Html.Partial("PersonalInfoPView", Model)