@model WebApplication1.Models.PersonalDataViewModel

@{
    ViewBag.Title = "UserPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-lg-offset-9 col-lg-2">
    <button class="userPagebuttton"  onclick="DeleteUserPopupShow('1')">Удалить</button>
</div>

@Html.Partial("DeletePersonPopup",new WebApplication1.Models.Pair<System.Int32, System.String>
{
    item1 = 1,
    item2 = Model.Email
})

<div class="container">
    <div class="col-lg-4">
        <div id="pInfo">
            @Html.Partial("PersonalInfoPView")
        </div>
    </div>
</div>
