
@{
    ViewBag.Title = "Users";
}
<link href="~/Content/userstable.css" rel="stylesheet" />


<div class="col-lg-5 col-lg-offset-1">
    <h2>Список пользователей</h2>
    <div>
        <span>Всего: (кол)</span>
        <input id="user-search" type="search" placeholder="Поиск" />
    </div>
    <ul class="userTable">
        <li>
            <div class="usersTableRow">
                <a href="https://www.google.com.ua/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=type%20of%20cursirs%20css">

                    <div class="usersTableItem">Олена Мазур</div>
                    <div class="usersTableItem">schohan@bk.ru</div>
                    <div class="usersTableItem">13</div>
                </a>
                <div class="usersTableItem">
                    <button>Delete</button>
                </div>
            </div>
            <div class="b-popup">
                <div class="b-popup-content">
                    <div class="popup-upper-plane">
                        Вы уверены, что хотите удалить пользователя?
                    </div>
                    <p class="deleteMessage">Все события, запланированые этим пользователем, будут отменены.</p>
                    <div>
                        <div class="NoBlock">
                            <button class="button No">Нет</button>
                        </div>
                        <div class="YesBlock">
                            <button class="button Yes">Да</button>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>