#schema-image {
    position: absolute;
    left: 100px;
    top: 100px;
   /*width: 50%;*/ 
}

.draggable {
    display: block;
    position: absolute;
}

button {
    margin: 30px;
}


#schema-wrapper {
    margin-left:auto;
    margin-right:auto;
    width:960px;
}