@model WebApplication1.Models.ResetPasswordViewModel
<link href="~/Content/login.css" rel="stylesheet" />

@using (Html.BeginForm("ResetPassword", "Account"))
{
    <div>
        @Html.ValidationMessageFor(model => model.Password, "")
        @Html.EditorFor(model => model.Password, "", new { htmlattributes = new { placeholder = " Новый пароль", @class = "custom-input" } })
    </div>

    <div>
        @Html.ValidationMessageFor(model => model.ConfirmPassword, "")
        @Html.EditorFor(model => model.ConfirmPassword, "", new { htmlattributes = new { placeholder = " Подтвердите новый пароль", @class = "custom-input" } })
    </div>
    <input class="send" type="submit" value="Отправить" />
}
