@model WebApplication1.Models.ForgotPasswordViewModel

@using (Html.BeginForm("ForgotPassword", "Account"))
{

    <div>
        Отправить запрос о смене пароля
    </div>
    <div>
        @Html.ValidationMessageFor(model => model.Email, "")
        @Html.EditorFor(model => model.Email, "", new { htmlattributes = new { placeholder = " Адрес электронной почты", @class = "custom-input" } })
    </div>
    <input type="submit" value="Отправить" />
}

