@model WebApplication1.Models.ForgotPasswordViewModel

@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div>
        Отправить запрос о смене пароля
    </div>
    <div>
        @Html.ValidationMessageFor(model => model.Email, "")
        @Html.EditorFor(model => model.Email, "", new { htmlattributes = new { placeholder = " Адрес электронной почты", @class = "custom-input" } })
    </div>
    <input type="submit" value="Отправить" />
}

@section header{
    Сменить пароль
}
