@model WebApplication1.Models.ForgotPasswordViewModel

@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


@using (Ajax.BeginForm("ForgotPassword", "Account", new AjaxOptions()
{
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "POST",
    UpdateTargetId = "inputForm"
}))
{
    @Html.AntiForgeryToken()
    <div>
        Отправить запрос о смене пароля
    </div>
    <div>
        @Html.ValidationMessageFor(model => model.Email, "")
        @Html.EditorFor(model => model.Email, "", new { htmlattributes = new { placeholder = " Адрес электронной почты", @class = "custom-input" } })
    </div>
    <input class="send" type="submit" value="Отправить" />
}

@section header{
    <div id="passwordchange" class="header-content">
        Смена пароля
    </div>
    <script>
        ActivateMenu('ForgotPassword-item');
    </script>
}