@model WebApplication1.Models.ForgotPasswordViewModel

@using (Ajax.BeginForm("ForgotPassword", "Account", new AjaxOptions()
{
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "POST",
    UpdateTargetId = "inputForm"
}))
{
    @Html.AntiForgeryToken()
    <div>
        Отправить запрос о смене пароля
    </div>
    <div>
        @Html.ValidationMessageFor(model => model.Email, "")
        @Html.EditorFor(model => model.Email, "", new { htmlattributes = new { placeholder = " Адрес электронной почты", @class = "custom-input" } })
    </div>
    <input class="button" type="submit" value="Отправить" />
}
