@model WebApplication1.Models.ForgotPasswordViewModel

@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@Html.Partial("ForgotPasswordPView", Model)

@section header{
    <div id="passwordchange" class="header-content">
        Смена пароля
    </div>
    <script>
        ActivateMenu('ForgotPassword-item');
    </script>
}