
<div>
    <h2>@((string)Session["UserName"])</h2>
    @if (User.IsInRole("admin"))
    {
        <span id="adminLabel">admin</span>
    }
</div>
<br />
<strong>Email:</strong><span>@((string)Session["UserEmail"])</span>
<br /><br />
<strong>Количество активных событий:</strong> <span>12</span>

@using (Ajax.BeginForm("ChangePersonalView", "Account", new AjaxOptions()
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "pInfo"
}))
{
    <input type="submit" value="Изменить" class="userPagebuttton"/>
}