@model WebApplication1.Models.RegisterViewModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@Html.Partial("RegisterInput")

@section header{
    <div id="register" class="header-content">
        Регистрация
    </div>
    <script>
        ActivateMenu('Register-item');
    </script>
}
