@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@Html.Partial("ResetPasswordPView");

@section header{
    <div id="passwordchange" class="header-content">
        Смена пароля
    </div>
    <script>
        ActivateMenu('ForgotPassword-item');
    </script>
}