
﻿@model WebApplication1.Models.ResetPasswordViewModel
@using WebApplication1.HtmlHelpers;

@{
    ViewBag.Title = "Смена пароля;

    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@Html.Partial("ResetPasswordPView");

@section header{
    <div id="passwordchange" class="header-content">
        Смена пароля
    </div>
    <script>
        ActivateMenu('ForgotPassword-item');
    </script>
}