@{
    ViewBag.Title = "UserPage";
}

<link href="~/Content/userpage.css" rel="stylesheet" />

<div class="col-lg-offset-9 col-lg-2">
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <input id="logout" class="userPagebuttton" type="submit" value="Выход" />
    }
</div>

<div class="container">
    <div class="col-lg-3">
        <div id="pInfo">
            @Html.Partial("PersonalInfoPView")
        </div>
    </div>

    <div class="col-lg-offset-3 col-lg-6  changePassword">
        <div class="changePasswordForm">
            @Html.Partial("ChangePasswordPartialView", null)
        </div>
    </div>
</div>

@section MenuItemActive{
    <script>
        ActivateMenu('userPageItem');
    </script>
}


