
<link href="~/Content/schedule.css" rel="stylesheet" />

<div class="schema-wrapper">
    <div class="schema">
        <img id="schema-image" src="@Url.Action("GetImage","Resources", new { imageName = "walls.png"})" alt="" />
    </div>
</div>
