


<script src="https://code.jquery.com/jquery-git.min.js"></script>


<!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" rel="stylesheet">
<link href="~/SchedulerPlugin/css/controls/jq.schedule.css" rel="stylesheet">
<link href="~/SchedulerPlugin/styles.css" rel="stylesheet">

<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
<script src="~/SchedulerPlugin/js/controls/jq.schedule.js"></script>
<script src="~/SchedulerPlugin/script.js"></script>
  
<br><br><br>
    <div class="container">
        <div class="row">
            <div id="newcol" class="col-xs-12">
                <div id="schedule">
                </div>
            </div>
        </div>
    </div>
<br><br><br>

<script>
jQuery("#schedule").timeSchedule({
  rows : {
    '1' : {
      title : 'Title Area',
      schedule:[{
        start:'09:00',
        end:'12:00',
        text:'Text Area',
        data:{}
      },{
        start:'11:00',
        end:'14:00',
        text:'Text Area',
        data:{}
      }]
    },},
});
</script>

