
@{
    ViewBag.Title = "Домашняя страница";
}

@Html.Partial("RoomTablePartialView")

<div>
    <div style="float: left">
        @Html.Partial("TimeTablePartialView")
    </div>
    <div style="float: right">
        @Html.Partial("MapPartialView")
    </div>
</div>


@section MenuItemActive{
    <script>
        ActivateMenu('scheduleItem');
    </script>
}
