.custom-input {
    border-radius: 20px;
    background-color: #f4f5f6;
    border-style: none;
    height: 30px;
    margin-bottom: 10px;
    width: 90%;
    padding: 1% 5%;
}

.button {
    background-color: red;
    border-style: none;
    border-radius: 20px;
    width: 50%;
    margin-left: 22%;
    color: white;
    padding: 10px 10px;
}

.button:disabled {
    background-color: silver;
    color: black;
}

#messageText{
    height: 200px;
}

#feedbackForm{
    padding-top: 50px;    
}


.field-validation-error {
    background-image: url('../Images/info-icon.png');
    background-repeat: no-repeat;
    color: red;
    background-size: 14px 14px;
    padding: 2px;
    padding-left: 15px;
    font-size: 11px;
}
