.custom-input {
    border-radius: 10px;
    background-color: #f4f5f6;
    border-style: none;
    height: 30px;
    margin-bottom: 10px;
    width: 10%;
}

#send {
    background-color: red;
    border-style: none;
    border-radius: 10px;
    height: 20px;
    width: 50%;
    margin-left: 25%;
}

#messageText{
    height: 200px;
}

#feedbackForm{
    padding-top: 50px;    
}

.error{
    font-size: x-small;
    color: red;
}
