.input-wrapper {
    float: right;
    background-color: white;
    transform: skewX(40deg);
    left: 40%;
    width: 200%;
    height: 500px;
    position: fixed;
    top: 12%;   
    border: 1px solid silver;
    padding: 0px;
}

.upper-plane{
    width: 100%;
    height: 30%;
    border-bottom: 5px solid red;
}

.header-wrapper{
    height: 10%;
    background-color: red;
    width: 100%;
    margin-bottom: 0;
}

.header-plane{
    height: 100%;
    border-top: 2px solid white;
    border-left: 2px solid white;
    margin-left: 10px;
    margin-bottom: 0;
}

.header-content{
    transform: skewX(-40deg);
    font-size: 30px;
    color: white;
}

#login{
    margin-left: 15%;
}

#register{
    margin-left: 15%;
}

#passwordchange{
    margin-left: 13%;
}

.bottom-plane{
    width: 100%;
    height: 57%;
    border-bottom: 2px solid red;
    border-left: 2px solid red;
    margin-left: 10px;
}

.input-area{
    padding-top: 30px;
    transform: skewX(-40deg);
    margin-left: 8%;
    width: 12%;
}

.login-menu{
    position: fixed;
    top: 37%;
    left: 10%;
}

div{
    margin: 0;
    padding: 0;
}

.menu-logo{
    padding: 11px;
    border-bottom: 1px solid silver;
}

ul.menu-list{
    list-style-type: none;
}

li.menu-item{
    margin-bottom: 15px;
}



a{
   text-decoration: none;
   color: silver;
}

.menu-item-active{
    text-decoration: solid;
    color: black;
}

a:hover{
    text-decoration: underline;
}



