body {
    margin: 0px;
    padding: 0px;
}

footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #f4f6fb;
    min-height: 100px;
}

.footer-logo
{
    display: block;
    width: 20%;
    margin:auto;
}

.body-content {
    width: 100%;
    min-width: 1050px;
    margin: auto;
}

a {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    color: black;
}

a:hover
{
    color: red;
}

.active-item
{
    background-color: #f4f6fb;
    border-bottom: 2px solid;
    border-bottom-color: red;
}

nav {
    border-bottom: 3px solid silver;
    padding-right: 200px;
    height: 50px;
}

.logo {
    margin: 10px;
    margin-left: 40px;
}

.menu-items {
    list-style-type: none;
    display: inline;
    margin: 50px;
}

.menu-item {
    padding-top: 10px;
    padding-bottom: 50px;
    float: right;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    display: block;
}
