ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.usersTableRow{
    float: left;
    width: 100%;
    padding: 5px 10px;
}

.usersTableRow:hover{
    background-color: #f4f5f6;
    cursor: pointer;
    color: black;
}

.delete{
    visibility: hidden;
    border-style: none;
    background-color: white;
    color: silver;
}

.usersTableRow:hover .delete{
    background-color: #f4f5f6; 
    visibility: initial;
}

.usersTableRow a{
    text-decoration: none;
    color: black;
}

.usersTableRow:hover a{
    text-decoration: none;
    color: black;
}
.usersTableItem {
    display: inline-block;
    margin: 0;
}

.userNameItem {
    width: 40%;
}

.userEmailItem {
    width: 40%;
}

.userNumberOfEventsitem {
    width: 14%;
}

.deleteUserItem {
    width: 4%;
}

.searchForm{
    float: right;
    border: 1px solid silver;
    border-radius: 4px;
    padding: 2px 4px;
}

#user-search{
    float: left;
    border: none;
}

#user-search:focus{
    border: none;
}

#searchButton {
    background-color: white;
    border-style: none;
}

.b-popup {
    visibility: hidden;
    width: 100%;
    height: 100%;
    overflow: hidden;
    min-width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
}

.b-popup-show{
    visibility:initial;
}

.b-popup .b-popup-content {
    display: block;
    margin: auto;
    margin-top: 17%;
    width: 500px;
    height: 160px;
    padding: 0;
    background-color: white;
    box-shadow: 0px 0px 10px #000;
    z-index: auto;    
}

.popup-upper-plane {
    padding: 2% 5%;
    color: white;
    background-color: silver;
}

.deleteMessage {
    padding: 0 50px;
    padding-top: 20px;
}

.YesBlock {
    width: 250px;
    float: right;
}

.NoBlock {
    width: 250px;
    float: left;
}

.Yes {
    width: 160px;
}

.No {
    width: 160px;
    background: silver;
}

.buttonLink {
    color: black;
    padding: 3px 2px;
}

link-active{
    text-decoration: solid;
    font-size: 20px;
}

#page-wrapper {
    width: 100%;
    margin-top: 30px;
}

#page-links {
    float: right;
    display: inline-block;
}



