#room-table {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    height: 550px;
    position: relative;
    font-family: sans-serif;
    display: none;
}

#wrap-table {
    background-color: #EBEEF7;
}

#schema-image {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 5;
    pointer-events: none;
    opacity: 0.8;
    /*width: 50%;*/
}

#prop-pane {
    display: inline-block;
    visibility: hidden;
}

#prop-pane {
    position: absolute;
    left: 330px;
    top: 400px;
    z-index: 100;
    background-image: url("../../Images/Extracted/PropPane/PropPane.png");
    width: 400px;
    height: 80px;
    /*border: 5px solid red;*/
    background-repeat: no-repeat;
    background-size: 100%;
}

.eq-container {
    display: inline;
    margin: 5px;
    top: 12px;
    left: 15px;
    /*border: 1px solid green;*/
    position: relative;
}

.eq-img {
    margin: 5px;
    z-index: 10;
}

.line-details {
    top: 100px;
    left: 100px;
    /*display: none;*/
    z-index: 100;
    position: absolute !important;
    display: none;
}



.room-container {
    height: 100px;
    width: 50px;
    display: inline-block;
    position: absolute !important;
    opacity: 0.95;
    /*z-index: -1;*/
}

    /*Einstein*/

    .room-container#einstein {
        left: 427px;
        top: 117px;
        width: 181px;
        height: 101px;
    }

    .room-container#empty {
        left: 23px;
        top: 116px;
        width: 164px;
        height: 101px;
    }

    .room-container#english {
        left: 983px;
        top: 114px;
        width: 44px;
        height: 147px;
    }


    .room-container#hr {
        left: 191px;
        top: 118px;
        width: 229px;
        height: 100px;
    }

    .room-container#info {
        left: 610px;
        top: 117px;
        width: 88px;
        height: 99px;
    }

    .room-container#newton {
        left: 508px;
        top: 259px;
        width: 196px;
        height: 100px;
    }

    .room-container#tesla {
        left: 321px;
        top: 261px;
        width: 190px;
        height: 96px;
    }

    .room-container#web-1 {
        left: 700px;
        top: 117px;
        width: 98px;
        height: 94px;
    }

    .room-container#web-2 {
        left: 800px;
        top: 115px;
        width: 91px;
        height: 100px;
    }

    .room-container#web-3 {
        left: 893px;
        top: 115px;
        width: 89px;
        height: 102px;
    }

.caption {
    display: inline;
    visibility: hidden;
}


/*Room states*/
.room-available {
    background-color: #9FA6B8;
}

.room-booked {
    background-color: #FF4F50;
}

.room-disabled {
    background-color: #D9DADE;
}


/*Line details*/

.line-details#einstein {
    left: 394px;
    top: 193px;
}

.line-details#empty {
    left: 17px;
    top: 192px;
}

.line-details#english {
    left: 411px;
    top: 218px;
}

.line-details#hr {
    left: 180px;
    top: 189px;
}

.line-details#info {
    left: 315px;
    top: 202px;
}

.line-details#newton {
    left: 447px;
    top: 295px;
}

.line-details#tesla {
    left: 274px;
    top: 335px;
}

.line-details#web-1 {
    left: 312px;
    top: 195px;
}

.line-details#web-2 {
    left: 310px;
    top: 197px;
}

.line-details#web-3 {
    left: 439px;
    top: 174px;
}

.line-details {
    pointer-events: none;
    display: none;
    position: absolute !important;
}

.room-container {
    width: 100%;
    height: 100%;
    display: table;
    /*border: 1px solid black;*/
    text-align: center;
}

.title-container {
    border: none;
    background-color: rgba(130, 130, 150, 0.4);
    color: white;
    border-radius: 23%;
    padding: 5%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.room-container#english .title-container {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    top: 45%;
    left: -5%;
}

html, body {
    height: 100%;
}

.room-controls {
    float: right;
    z-index: 1001;
}


.change-room-button, .close-room-button, .open-room-button {
    position: relative;
    display: block;
    margin: 10px;
    border: none;
    outline: none;
    border: 0px solid rgba(255, 255, 255, 0);
    border-radius: 70px;
    width: 140px;
    height: 33px;
    z-index: 1001;
}

.close-room-button {
    background-color: #747B87;
    color: white;
}

    .close-room-button:hover {
        background-color: lightcoral;
    }

.change-room-button {
    background-color: #C8CEDA;
}

    .change-room-button:hover {
        background-color: lightcoral;
    }




.path-info {
    position: absolute !important;
    visibility: hidden;
    pointer-events: none;
}

    .path-info#einstein {
        left: 33px;
        top: 223px;
    }

    .path-info#empty {
        left: 33px;
        top: 223px;
    }

    .path-info#english {
        left: 33px;
        top: 236px;
    }

    .path-info#hr {
        left: 31px;
        top: 224px;
    }

    .path-info#info {
        left: 31px;
        top: 224px;
    }

    .path-info#newton {
        left: 32px;
        top: 236px;
    }

    .path-info#tesla {
        left: 31px;
        top: 236px;
    }

    .path-info#web-1 {
        left: 32px;
        top: 220px;
    }

    .path-info#web-2 {
        left: 33px;
        top: 190px;
    }

    .path-info#web-3 {
        left: 32px;
        top: 220px;
    }
