#main-container {
    display: inline-block;
    position: relative;
}

#jqxWidget {
    display: inline-block;
    position: absolute;
    top: 0px;
    visibility: hidden;
}

.jqx-widget-header {
    background-color: transparent !important;
    border-color: transparent !important;
}

.jqx-widget-content {
    border-color: transparent !important;
}

.jqx-calendar-cell-today {
    border-radius: 50% !important;
    background-color: transparent !important;
    color: black !important;
    font-weight: bold !important;
}

.jqx-calendar-cell-hover {
    border-radius: 50% !important;
    background-color: lightgrey !important;
}

.jqx-calendar-cell-selected {
    border-radius: 50% !important;
    background-color: red !important;
}

.jqx-fill-state-pressed {
    border-color: transparent !important;
}

.jqx-calendar-cell {
    border: none !important;
}

.timetable {
    display: inline-block !important;
}

.jqx-icon-arrow-left, .jqx-icon-arrow-right {
    background-image: none !important;
    z-index: 100;
}

#backTodayInCalendar {
    display: none;
    position: relative;
    left: 80px;
    top: -120px;
    color: lightgray;
}

#calendar-quick-nav {
    display: inline-block;
    position: relative;
    top: 240px;
    width: 210px;
}

#leftTodayInCalendar {
    float: left;
}

#rightTodayInCalendar {
    float: right;
}

#leftTodayInCalendar, #rightTodayInCalendar, #TodayInCalendar
{
    opacity: 0.9;
    color: gray;
    display: inline-block;
}

#leftTodayInCalendar:hover, #rightTodayInCalendar:hover {
    color: lightcoral !important;
}

#TodayInCalendar {
    margin-left: 40%;
}

#calendar-container {
    position: relative;
    top: -343px;
}

