

<link href="~/Content/RoomTableForClassroom/RoomTableForClassroom.css" rel="stylesheet" />



<div id='wrap-table'>

    
    <div id="room-table">
        

        <img id="schema-image" src="~/Images/wallsMod.png" alt="" />
        

        <!--Room containers-->
        <a href="#">
            <div class="room-container draggable resizeable" data-id="1" id="einstein">
                <span class="title-container"></span>
            </div>
        </a>

        <a href="#">
            <div class="room-container draggable resizeable" data-id="2" id="empty">
                <span class="title-container"></span>
            </div>
        </a>

        <a href="#">
            <div class="room-container draggable resizeable" data-id="3" id="english">
                <span class="title-container"></span>
            </div>
        </a>

        <a href="#">
            <div class="room-container draggable resizeable" data-id="4" id="hr">
                <span class="title-container"></span>
            </div>
        </a>

        <a href="#">
            <div class="room-container draggable resizeable" data-id="5" id="info">
                <span class="title-container"></span>
            </div>
        </a>

        <a href="#">
            <div class="room-container draggable resizeable" data-id="6" id="newton">
                <span class="title-container"></span>
            </div>
        </a>

        <a href="#">
            <div class="room-container draggable resizeable" data-id="7" id="tesla">
                <span class="title-container"></span>
            </div>
        </a>

        <a href="#">
            <div class="room-container draggable resizeable" data-id="8" id="web-1">
                <span class="title-container"></span>
            </div>
        </a>

        <a href="#">
            <div class="room-container draggable resizeable" data-id="9" id="web-2">
                <span class="title-container"></span>
            </div>
        </a>

        <a href="#">
            <div class="room-container draggable resizeable" data-id="10" id="web-3">
                <span class="title-container"></span>
            </div>
        </a>



        <!--Path info-->

        <div class="path-info draggable" data-id="1" id="einstein">
            <img src="~/Images/Path/path-einstein.png" />
        </div>

        <div class="path-info draggable" data-id="2" id="empty">
            <img src="~/Images/Path/path-empty.png" />
        </div>
        <div class="path-info draggable" data-id="3" id="english">
            <img src="~/Images/Path/path-ienglish.png" />
        </div>
        <div class="path-info draggable" data-id="4" id="hr">
            <img src="~/Images/Path/path-hr.png" />
        </div>
        <div class="path-info draggable" data-id="5" id="info">
            <img src="~/Images/Path/path-info.png" />
        </div>

        <div class="path-info draggable" data-id="6" id="newton">
            <img src="~/Images/Path/path-newton.png" />
        </div>

        <div class="path-info draggable" data-id="7" id="tesla">
            <img src="~/Images/Path/path-tesla.png" />
        </div>

        <div class="path-info draggable" data-id="8" id="web-1">
            <img src="~/Images/Path/path-web-1.png" />
        </div>

        <div class="path-info draggable" data-id="9" id="web-2">
            <img src="~/Images/Path/path-web-2.png" />
        </div>

        <div class="path-info draggable" data-id="10" id="web-3">
            <img src="~/Images/Path/path-web-3.png" />
        </div>
    </div>

</div>


<script>

    var resizeOptions = {
        autoHide: true, ghost: true
    }

    function renderRoomTable(timeNow) {
        
        $.ajax({
            url: '@Url.Action("GetRoomTableState", "Schedule")',
            type: "GET",
            context: this,
            data: { 'timeNow': timeNow.toISOString() },
            contentType: "application/json; charset=utf-8",
            success: function (data, textStatus, jqXHR) {
                //alert(JSON.stringify(data));

                var roomsAvail = data.roomsAvailability;
                for (var i = 0; i < roomsAvail.length; i++) {
                    var roomId = roomsAvail[i].RoomId;
                    var roomStatus = roomsAvail[i].Status;
                    var roomTitle = roomsAvail[i].RoomTitle;

                  
                    $roomElem = $('.room-container').filter(function () {
                        return $(this).data("id") == roomId
                    });

                    $roomElem.children('span').html(roomTitle);
                    $roomElem.removeClass('room-available room-booked room-disabled');

                    var cls = "";

                    if (roomStatus == 'available')
                        cls = 'room-available';
                    else if (roomStatus == 'booked')
                        cls = 'room-disabled';
                    else if (roomStatus == 'disabled')
                        cls = 'room-disabled';

                    if (roomId == $('.room-id').val())
                    {
                        cls = 'room-booked';
                        $('#prop-pane-edit .title').val(roomTitle);
                    }
                        

                    $roomElem.addClass(cls);
                }
            }
        });
    }


    $(() => {
        

        /*
        $('.room-container ').mouseout(function () {
            var id = $(this).attr('id');
            $('.line-details#' + id).css('display', 'none');
            $('#prop-pane').css("visibility", "hidden");
        });
        */

        renderRoomTable(new Date());
        // mark current room as booked - just a trick
        var $roomElem = $('.room-container').filter(function () {
            return $(this).data("id") == $('.room-id').val();
        });


        $('#room-table').css('display', 'block');
        //alert($roomElem.data("id"));

        var id = $roomElem.attr('id');

        $('.path-info#' + id).css('visibility', 'visible');

        var dataId = $roomElem.data('id');
    });
</script>