#room-table {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    height: 550px;
    position: relative;
}

#schema-image {
    position: absolute;
    left: 10px;
    top: 10px;
    /*z-index: 100;*/
    
    /*width: 50%;*/
}

#prop-pane {
    display: inline-block;
}

#prop-pane {
    position: absolute;
    left: 420px;
    top: 470px;
    z-index: 100;
    background-image: url("../../Images/Extracted/PropPane/PropPane.png");
    width: 400px;
    height: 80px;
    /*border: 5px solid red;*/
    background-repeat: no-repeat;
    background-size: 100%;
}

.eq-container {
    display: inline;
    margin: 5px;
    top: 12px;
    left: 15px;
    /*border: 1px solid green;*/
    position: relative;
}

.eq-img {
    margin: 5px;
    z-index: 10;
}

.line-details
{
    position: absolute;
    top: 100px;
    left: 100px;
    display: none;
}





.room-container
{
  
    height: 100px;
    width: 50px;

    display: inline-block;

    position: absolute !important;
    opacity: 0.95;
}

/*Einstein*/

.room-container#einstein
{
    left: 427px;
    top: 117px;
    width: 181px;
    height: 101px;
}

.room-container#empty
{
    left: 23px;
    top: 116px;
    width: 164px;
    height: 101px;
}

.room-container#english
{
    left: 983px;
    top: 114px;
    width: 44px;
    height: 147px;
}

.room-container#hr
{
    left: 191px;
    top: 118px;
    width: 229px;
    height: 100px;
}

.room-container#info
{
    left: 610px;
    top: 117px;
    width: 88px;
    height: 99px;
}

.room-container#newton
{
    left: 508px;
    top: 259px;
    width: 196px;
    height: 100px;
}

.room-container#tesla
{
    left: 321px;
    top: 261px;
    width: 190px;
    height: 96px;
}

.room-container#web-1
{
    left: 700px;
    top: 117px;
    width: 98px;
    height: 94px;
}

.room-container#web-2
{
    left: 800px;
    top: 115px;
    width: 91px;
    height: 100px;
}

.room-container#web-3
{
    left: 893px;
    top: 115px;
    width: 89px;
    height: 102px;
}

.line-details
{
    display: none;
}

.caption
{
    /*display:none;*/
}


/*Room states*/
.room-available
{
    background-color: #9FA6B8;
}

.room-booked
{
    background-color: #FF4F50;
}

.room-disabled
{
    background-color: #D9DADE;
}

