
@{
    ViewBag.Title = "SendMessageForm";
}


<div class="container-fluid">
    <div class="col-md-4 col-lg-4 col-lg-offset-2">
        <p>
            <h2>Написать Сообщение</h2>
            Напишите, если у вас есть идеи, замечания или вопросы.
        </p>
        <img src="~/Images/contact-bg.png" alt="" />
    </div>
    <div class="col-md-4 col-lg-offset-1 col-md-offset-2 col-lg-4" id="feedbackForm">
       @Html.Partial("SendFeedbackForm")
    </div>
</div>


@section MenuItemActive{
    <script>
        ActivateMenu('feedbackItem');
    </script>

}


